/* Reset default margin of the body */
body,html {
  margin:0;
  padding:0;
}
/* --------------- */

/* Navigation Styling */
.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;  
    overflow: hidden;
    background-color: #333;  
 }

.navigation li{
    float: left;
 }

.navigation li a{
    display: block;
   color: rgb(219, 196, 233);
    font-family: sans-serif;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
 }
.navigation a:visited{
    color: rgb(219, 196, 233);
}

.navigation a:hover {
    background-color: #111;
}
 
.navigation li a:hover:not(.active) {
    background-color: #111;
} 

.navigationlogsign{
    border-left: .5px solid antiquewhite; 
}

/* --------------- */

/* Random Body & Flash Messages  */
h1{
    text-align: center;
    color: hotpink;
}
.allposts, a:link, a:visited{
    color: rgb(118, 23, 190);
    font-family: Georgia, serif;
}
#authorbullet{
     /* color: rgb(155, 72, 233); */
      color: rgba(121, 11, 180, 0.774);
}

.allposts li{
    padding: 4px;
}

.line{
    border-right: 2px solid #111;
}

.error{ 
    background: #f0d6d6; 
    padding: 0.5em; 
    color: rgb(240, 18, 63);
}

body{ 
    background-color: #f5f5f5;
}
/* --------------- */

/* blog post styling */

.blogtitle{
    font-family: Arial, sans-serif;
    padding-top: 1%;
    padding-bottom: .5%;
    margin: 0%;
    font-size: 50px;
    
}

.blogbody{
    text-align: center;
    color: rgb(11, 14, 27);
    margin: 0%;
    font-size: 25px;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-left: 2%; 
    overflow-wrap: break-word;%;
}

.author{
    text-align: center;
    font-size: 15px;

}

.date{
    font-family: sans-serif;
    text-align: center;
    font-size: 10px;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/* --------------- */

/* Header */
.header{
    font-size: 50px;
}
/* --------------- */

/* Adding space to bullet articles */
.space{
    padding-left: 2%; 
}
/* --------------- */