{% extends "base.html" %} 

{% block title %}
    All Posts
{% endblock %}

{% block body %}
<div class="space"> 
    <header>
        <h1 class="header">Welcome!</h1>
        <h2>Current Posts:</h2>
    </header>
    <main class="allposts"> 
        <ul>
            {% for post in post %}
                <li> 
                    <a href="/blog?id={{post.id}}">{{post.title}} </a>
                    - by 
                    <a href="/blog?author={{post.author.id}}" id="authorbullet">{{post.author.username}}</a>
                </li>
            {% endfor %}
        </ul>
    </main>
</div>
{% endblock %}


<!-- <a href='/blog?id={{blogpost.id}}'></a> -->
<!-- {{post|title}} -->
